@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Roles";
}

<div class="card-header py-3">
    <div class="row m-0 p-0">
        <div class="col-6 m-0 p-0">
            <h6 class="m-0 font-weight-bold text-primary">Role List</h6>
        </div>
        <div class="col-6 m-0 p-0 float-right">
            <a asp-action="CreateRole" asp-controller="Administration" class="btn btn-success btn-circle-split btn-sm float-right">
                <span class="icon ">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">New Role</span>
            </a>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row mr-0">
                <div class="col-sm-12">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">#</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">Role Name</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr role="row" class="odd">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-action="EditRole" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="DeleteRole" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
