<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!--<target name="allfile" xsi:type="File" fileName="c:\DemoLogs\nlog-all-${shortdate}.log"/>-->
    <target 
      name="database" 
      xsi:type="Database"
      connectionString="${configsetting:item=ConnectionStrings.DefaultConnection}"
      dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
      commandType="text">

      <commandText>
        insert into dbo.NlogDBLog (
        Logged, Level, Message,
        Logger, Callsite, Exception
        ) values (
        @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
    <logger name="*" minlevel="Warning" writeTo="database" />
  </rules>
</nlog>

