
<div class="container-fluid">
    <div class="text-center">
        <h1 class="text-danger">Access Denied</h1>
        <span><i class="fa fa-ban fa-10x text-danger m-5"></i></span>
        <p class="lead text-gray-800 mb-5">You do not have permission to view this resource</p>
        @*<p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
        <a href="@ViewBag.ReturnUrl">← Go Back</a>*@
    </div>
</div>
