@model Education

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow mb-12">
    <div class="card-header py-3">
        <div class="row m-0 p-0">
            <div class="col-6 m-0 p-0">
                <h6 class="m-0 font-weight-bold text-primary">Education Details</h6>
            </div>
            <div class="col-6 m-0 p-0 float-right">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success btn-circle-split btn-sm float-right">
                    <span class="icon ">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Edit Education</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="SchoolName" class="control-label"></label>
            </dt>
            <dd class="col-sm-10">
                <input asp-for="SchoolName" class="form-control" disabled />
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="FacultyName" class="control-label"></label>
            </dt>
            <dd class="col-sm-10">
                <input asp-for="FacultyName" class="form-control" disabled />
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="DepartmentName" class="control-label"></label>
            </dt>
            <dd class="col-sm-10">
                <input asp-for="DepartmentName" class="form-control" disabled />
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="DateOfStart" class="control-label"></label>
            </dt>
            <dd class="col-sm-10">
                <input asp-for="DateOfStart" class="form-control" disabled />
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="DateOfEnd" class="control-label"></label>
            </dt>
            <dd class="col-sm-10">
                <input asp-for="DateOfEnd" class="form-control" disabled />
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="Description" class="control-label"></label>
            </dt>
            <dd class="col-sm-10">
                <textarea asp-for="Description" class="form-control" rows="5" disabled ></textarea>
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="GPA" class="control-label"></label>
            </dt>
            <dd class="col-sm-10">
                <input asp-for="GPA" class="form-control" disabled />
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                <label asp-for="ImageUrl" class="control-label"></label>
            </dt>
            <dd class="col-sm-10">
                <img src="@("~/images/"+Model.ImageUrl)" asp-append-version="true" width="250" height="250" />
            </dd>
        </dl>
        <div class="form-group">
            <a asp-action="Index" class="float-left">
                <span class="icon ">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                    Go back to list
                </span>
            </a>
        </div>
    </div>
</div>

